.message-input {
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    grid-area: header;
    display: flex;
}

.message-input-text input {
  width: 100%;
  height: 100%;
  flex: 1 1;
  margin: 1px;
  border: none;
  padding: 0 0 0 4px;
  background-color: rgb(233, 233, 233);
}
.message-input form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.message-input-button{
  height: 55px;
  width: 18%;
  margin: 1px 1px 1px 1px;
}

.message-input-button button{
  height: 100%;
  flex: 0 0 6em;
  margin: 1px 1px 1px 0;
  width: 100%;
  border: none;
} 

.message-input-text {
  background: #fff;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 100%;
  height: 51px;
  width: 80%;
  }