.message {
    justify-content: flex-end;
    margin-top: 10px;
    border: 2px solid #dedede;
    background-color: #eeecf3;
    border-radius: 5px;
    padding: 10px;
}

.message-user-avatar {
    float: left;
    max-width: 20px;
    width: 100%;
    margin-right: 40px;
    border-radius: 50%;
}

.message-user-avatar img {
    width: 50px;
    border-radius: 25%;
}

.message-user-name {
    color: #369494;
    font-weight: bolder;
}

.message-text {
    color: #000;
    margin-right: 10px;;
    font-style: italic;
}

.message-time {
    float: left;

}

.message-like {
    float: right;
    color: #999;
}

.blackButton{
    background-color: black;
    color: white;
}

.whiteButton{
    background-color: white;
    color: black;
}
