.messageList {
    display: flex;
    z-index: 2;
    height: 350px;
    box-sizing: border-box;
    flex: 1 1;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: scroll;
    margin: 10px;
}
